@import '@src/vars.styl'

.b-footer
  display flex
  align-items center
  justify-content center
  flex-direction column
  margin-top 40px
  padding 30px
  p
    font-size $font-size-xxs
    text-align center

.b-footer-ph-wrapper
  margin-bottom 30px;
